<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{{ .Name }} - {{ .Title }}</title>
    <link rel="stylesheet" href="styles/main.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.css">
  </head>
  <body>
    <div class="container root">
      <!-- import partials -->
      {{ template "about.html" . }}
      {{ template "education.html" . }}
      {{ template "skills.html" . }}
      {{ template "experience.html" . }}
      {{ template "projects.html" . }}
      {{ template "achievements.html" . }}
    </div>
  </body>
</html>
