<div class="exp">
  <div class="title-section">
    <div class="line"></div>
    <h1>Experience</h1>
  </div>

  {{ range .Experience }}

  <div class="columns">
    <div class="column is-three-quarters">
      <h2 class="edu-uni">{{ .Name }}</h2>
      <h3 class="edu-course">{{ .Title }}</h3>
    </div>
    <div class="column has-text-right">
      <h2 class="edu-location">{{ .Location }}</h2>
      <h3 class="edu-year">{{ .Date }}</h3>
    </div>
  </div>

  <div class="content exp-points">
    <ul>
      {{ range .Points }}

      <li>{{ . }}</li>

      {{ end }}
    </ul>
  </div>

  {{ end }}
</div>
