<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{{ .Name }} - {{ .Title }}</title>
    <link rel="stylesheet" href="styles/euro.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.css"
    />
    <link href="http://fonts.cdnfonts.com/css/lato" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container root">
      <div class="columns">
        <div class="column left-sidebar">
          <h1 class="is-size-3">{{ .Name }}</h1>
          <div class="photo">
            <img src="assets/photo.jpg" />
          </div>

          <div class="side-content">
            <h2 class="is-size-5 sidebar-heading">Personal Data</h2>
            <b>Email</b>
            <i>{{ .Email }}</i>
            <b>Phone</b>
            <i>{{ .Phone }}</i>
            <b>Languages</b>
            {{ range .Languages }}
            <div><i>{{ . }}</i></div>
            {{ end }}
            <b>Nationality</b>
            <i>{{ .Nationality }}</i>
            <br />
            <b>Date of Birth</b>
            <i>{{ .Dob }}</i>
            <b>Address : </b>
            <div>
              <i>{{ .Address }}</i>
            </div>
          </div>
          <div class="side-content">
            <h2 class="is-size-5 sidebar-heading">Social Media</h2>
            <b>Linkedin</b>
            <i>{{ .Linkedin }}</i>
            <br />
            <b>Github</b>
            <i>{{ .Github }}</i>
          </div>
          <div class="side-content">
            <h2 class="is-size-5 sidebar-heading">Key Skills</h2>
            <ul>
              <li>Kubernetes</li>
            </ul>
          </div>
        </div>
        <div class="column">
          <h2>{{ .Title }}</h2>
        </div>
      </div>
    </div>
  </body>
</html>
