<div class="personal-compact">
  <div class="personal-grid">
    <div class="personal-item">
      <i class="fas fa-map-marker-alt"></i>
      {{ .Address }}
    </div>
    <div class="personal-item">
      <i class="fas fa-flag"></i>
      {{ .Nationality }}
    </div>
    <div class="personal-item">
      <i class="fas fa-birthday-cake"></i>
      {{ .Dob }}
    </div>
    <div class="personal-item">
      <i class="fas fa-language"></i>
      <div class="languages">
        {{ range .Languages }}
          <span class="language-tag">{{ . }}</span>
        {{ end}}
      </div>
    </div>
  </div>
</div>
