<div class="exp">
  <div class="title-section">
    <div class="line"></div>
    <h1>Personal Projects</h1>
  </div>

  {{ range .Projects }}

  <div class="exp-section">

  <div class="columns">
    <div class="column">
      <h2 class="edu-uni">{{ .Name }}</h2>
    </div>
    <div class="column has-text-right">
      <h2 class="edu-location">{{ .Link }}</h2>
    </div>
  </div>

  <div class="content exp-points">
    <ul>
      {{ range .Points }}

      <li>{{ . }}</li>

      {{ end }}
    </ul>
  </div>

  </div>

  {{ end }}

  <h2 class="edu-uni">Micro Projects</h2>
  <div class="content exp-points">
    <ul>
      {{ range .MicroProjects }}

      <li><b>{{ .Name }}</b> : {{ .Description }}</li>

      {{ end }}
    </ul>
  </div>
</div>
